header{
    width: 100%;
    background-color: var(#3B0A12);
    padding: 28px 8%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 48px;
}
.nav-list a{
    color:var(#D7B188);
    font-weight: 600;
}
.nav-list a:hover{
    color: var(#A33A4A);
}
